Daily Scheduled Message Automation.json
{
  "name": "Daily Scheduled Message Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        0
      ],
      "id": "dfec3e35-953e-469c-8ed2-244606f7bc05",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "583706e4-777c-4708-aff4-728f29176d15",
              "name": "message",
              "value": "Hey Hassan 👋  It’s 9:00 AM. This is your reminder to publish today’s LinkedIn post.  Consistency builds visibility 🚀",
              "type": "string"
            },
            {
              "id": "109f93ae-ce9d-4cbb-85ac-ead1f76aa6f2",
              "name": "created at ",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        0
      ],
      "id": "392fef2f-ce8e-4ab0-b0e5-71c4c9849089",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "htfsh12345@gmail.com",
        "subject": "=Daily LinkedIn Posting Reminder",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        288,
        0
      ],
      "id": "979167ef-cdaa-47cd-b55e-4b0572e913d4",
      "name": "Send a message",
      "webhookId": "16e69421-0fc4-4cc4-9be9-86dad4619e03",
      "credentials": {
        "gmailOAuth2": {
          "id": "x4ccJ3mA4SGIuqo1",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9d7ae7b3-2c5a-45ac-bfdb-ed08995d77d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d4e41ac00f47d48db81622a42173403a2c3150258a9fa8d8d121acaeccc607f"
  },
  "id": "THdBTKmWUNcw5kUpraGlN",
  "tags": []
}